@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width" />
    <link href="~/css/cssmall.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">
    <style>
        h1{
            font-family: 'Amatic SC', cursive;
            font-size: 50px;
            text-align: center;
            margin-top: 60px;
            margin-bottom: 53px;
            color: #FFAD32;
        }
    </style>
</head>
<body>
  <h1 >Öppettider</h1>
    <table>
        <tr><th class="Bdag">Måndag-Torsdag</th></tr>
        <tr><th class="Btid">10:00-20:00</th></tr>
        <tr><th class="Bdag">Fredag-Lördag</th></tr>
        <tr><th class="Btid">11:00-22:00</th></tr>
        <tr><th class="Bdag">Söndag</th></tr>
        <tr><th class="Btids">Stängt</th></tr>
    </table>
</body>
</html>